.section_about {
  background-color: $colorBackgroundGrey;
  color: $colorTextWhite;
  height: 560px;
  margin-top: 120px;
  margin-bottom: 200px;

  .container_about {
    display: grid;
    grid-template-columns: 445px 769px;
    justify-content: center;
  }

  .container_text_about {
    background-color: $colorBackgroundBlueDark;
    height: 560px;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;

    #about {
      padding-top: 120px;
      font-style: normal;
      font-weight: normal;
    }
    
    #ids {
      padding-top: 30%;
      font-style: normal;
      font-weight: normal;
    }
  }

  .container_foto_about {
    display: grid;
    grid-template-rows: 280px;

    .about_p {
      background-color: $colorBackgroundBlueLight;
      height: 360px;
      padding: 90px 110px 30px;
      line-height: 27px;
      z-index: 2;
    }

    .image_stea {
      z-index: 1;
    }
  }
}
