.section-about {
  position: relative;
  margin-bottom: 260px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 80px);
    background-color: $colorGrey;
    z-index: -1;
  }


  .container {
    display: grid;
    grid-template-columns: max-content 1fr;
  }
  
  .about-title {
    grid: grid;
    align-content: end;
    height: calc(100% -80px);
    padding: 120px 95px;
    background-color: $colorBlueDark;
    color: $colorWhite;
    font-family: $font-ideal-sans;
    font-weight: $font-weight-normal;
  }

  h3, 
  h6 {
    max-width: 255px;
  }

  h6 {
    margin-bottom: 60px;
    text-decoration: uppercase;
  }
 

  .about-description {
    display: grid;
    grid-template-rows: 280px;
  }
  
  .paragraph-about {
    background-color: $colorBlueLight;
    padding: 100px 115px 70px;
  }

  p {
    font-family: $font-family-base;
  }
}
