.section-about {
  background-color: $colorGrey;
  height: 560px; // height background-grey
  margin-bottom: 200px;

  .section-about-container {
    display: grid;
    grid-template-columns: 445px 769px;

    /*font-style*/
    font-family: $font-ideal-sans;
    color: $colorWhite;

    .about-title {
      background-color: $colorBlueDark;
      height: 560px;
      padding: 120px 100px 120px 100px;

      h6 {
        padding-bottom: 70px;
      }
    }
  }

  .about-paragraf {
    display: grid;
    grid-template-rows: 280px;
  }
  .paragraf-about {
    background-color: $colorBlueLight;
    height: 360px;
    padding: 90px 115px 30px;
  }
}
