.astronaut_pee {
  height: 759px;
  margin-bottom: 41px;
  //  font-style
  font-family: "Ideal Sans", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-display: swap;

  .container_astronautPee {
    display: grid;
    grid-template-columns: 740;
    justify-items: center;
    justify-content: center;

    .text_astronautPee {
      background-color: $colorBackgroundRed;
      color: $colorTextWhite;
      padding: 100px 100px;
      position: relative;
      height: 496px;
      width: 740px;
      right: 34%;
      top: 35%;
      text-align: left;
      z-index: 2;

      .title_astronautPee {
        padding-bottom: 20px;
        font-style: normal;
        font-weight: normal;
      }

      .description_astronautPee {
        font-style: normal;
        font-weight: normal;
      }
    }

    .foto_astronautPee {
      z-index: 1;
      position: relative;
      bottom: 460px;
      left: 25%;
    }
  }
}
