.section_dropdown {
  margin-top: 100px;
  margin-bottom: 120px;
  //  font-style
  font-family: "Ideal Sans", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-display: swap;

  .container_dropdown {
    display: grid;
    justify-content: center;
    grid-template-columns: 50px 755px;
    gap: 50px;

    .box_click {

      .img_dropdown {
        size: 50px;
        padding-top: 7px;
      }
    }

    .box_description_dropdown {

      .text_dropdown {
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 33px;
      }
    }
  }
}
