.footer-main {
  background-color: $colorDarkBlue;

  .container {
    display: grid;
    grid-template-columns: 635px 317px;
    column-gap: 125px;
    padding: 120px 105px;
    color: $colorWhite;
  }

  h5 {
    font-size: 28px;
    font-style: normal;
    font-weight: normal;
    line-height: 42px;
    margin-bottom: 40px;
  }

  .about-left {
    p {
      font-style: normal;
      font-size: 18px;
      line-height: 27px;
      letter-spacing: 1.13px;
      margin-bottom: 80px;
    }

    a {
      color: $colorWhite;
      text-transform: uppercase;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 2px;
    }

    .arrow-footer {
      padding-left: 10px;
    }
  }

  .about-right {
    p {
      margin-bottom: 104px;
    }

    a {
      font-style: normal;
      text-decoration: none;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 2px;
      color: $colorWhite;
    }
  }

  .link_insomniac {
    font-size: 18px;
    line-height: 27px;
    font-style: normal;
    font-weight: normal;
  }
}
