.main-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  border-bottom: 1px solid $colorGray-100;
  background-color: $colorWhite;
  z-index: $zindex-sticky;

  .section-header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    max-width: 1680px;
    margin: 0 auto;
    padding: 21px 47px 21px 47px;
    font-family: $font-ideal-sans;
  }

  .header__logo {
    display: flex;
    width: 100%;
    max-width: 105px;

    img {
      max-width: 100%;
      height: auto;
    }
  }
}

.header__nav {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  row-gap: 20px;
  gap: 187px 20px;
  @include fluidValue(padding-right, 187, 56, 1680, 1200);
  @include fluidValue(column-gap, 120, 56, 1680, 1200);

  // justify-content: center;
  // gap: 120px;
  // text-transform: uppercase;

  a {
    font-size: $font-size-base-mobile;
    font-weight: $font-weight-medium;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1.5;
    color: $colorBlack;

    &.active {
      color: $colorPink;
      font-family: $font-family-base;
    }
  }
}

// .nav__item1 {
//   color: $colorTextPink;
// }

// .nav__item2 {
//   color: $colorBlack;
// }

// .nav__item3 {
//   color: $colorBlack;
// }

// .header__button {
//   //box-styled
//   background-color: $colorButtonPink;
//   width: 180px;
//   height: 48px;
//   padding: 14px 24px;
//   border: 0;
//   // text-stled
//   color: $colorTextWhite;
//   text-align: center;
