.main-header {
  a:link {
    text-decoration: none;
  }

  display: grid;
  grid-template-columns: max-content 1fr max-content;
  align-items: center;
  padding: 21px 47px 21px 60px;
  border: 1px solid #F0F0F0;
  
}

.header-nav {
  display: flex;
  justify-content: center;
  font-size: 16px;
  line-height: 24px;
  gap: 120px;
  text-transform: uppercase;


  #nav-about {
    color: $colorTextPink;
  }
  #nav-kmj {
    color: $colorTextBlack;
  }
  #nav-kS {
    color: $colorTextBlack;
  }
}

.header-button {
  //box-styled
  background-color: $colorButtonPink;
  width: 132px;
  height: 24px;
  border: none;
  // text-stuled
  color: $colorTextWhite;
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  text-align: center;
  padding: 12px 24px;
}
