.section-hero {
  padding: 52px 0 120px;
}

.section-hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 70px;

  font-family: $font-ideal-sans;
  font-weight: $font-weight-normal;

  @media (max-width: 1199px) {
    background-color: pink;
    max-width: 
  }

  @media (max-width: 1023px) {
    grid-template-columns: max-content max-content;
    justify-content: space-between;
    padding: 10px 36px;
    background-color: yellow;
  }

  @media (max-width: 767px) {
    padding: 10px 12px;
    background-color: red;
  }
}

.hero-content {
    
 

    h1 {
      padding-top: 68px;
      margin-bottom: 60px;
      @include lineClamp(7);
    }

    h4 {
      font-family: $font-family-base;
      color: $colorPink;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 28px;
    }

    p {
      margin-top: 40px;
      font-size: 24px;
      line-height: 28px;
    } 
}

