.section-hero {
  .hero__block {
    display: grid;
    grid-template-columns: 570px 574px;
    grid-gap: 70px;
    justify-content: center;
    margin: 0;
    margin-top: 52px;
    padding-bottom: 120px;
    padding: 0;
    padding-left: 105px;
    padding-right: 105px;
    font-family: "Ideal Sans", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-display: swap;

    .hero__block__item1 {
      justify-items: start;
      align-self: center;
      font-family: "Ideal Sans";

      .hero__title {
      }

      .hero__description {
        color: $colorTextPink;
        text-transform: uppercase;
        margin-top: 60px;
        margin-bottom: 40px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }

      .hero__paragraf {
        font-size: 24px;
        margin-top: 40px;
        color: $colorTextBlack;
      }
    }

    .hero__foto-astronaut {
      width: 574px;
      height: 574px;
      justify-items: end;
    }
  }
}
