.section-hero {
  padding: 52px 0 120px;
}

.section-hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 70px;

  font-family: $font-ideal-sans;
  font-weight: $font-weight-normal;

  
  .hero-content {
    @media (max-width: 1023px) {
      max-width: 350px;
    }

    h1 {
      @media (max-width: 1199px) {
        padding-top: 0;
      }
    }
  }

  @media (max-width: 767px) {
    display: grid;
    grid-template-columns: auto;
  }
  h1 {
    padding-top: 68px;
    margin-bottom: 60px;
    @include lineClamp(7);
  }

  h4 {
    font-family: $font-family-base;
    color: $colorPink;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 28px;
  }

  p {
    margin-top: 40px;
    font-size: 24px;
    line-height: 28px;
  }

  @media (max-width: 767px) {
    grid-row: 1;
    max-width: 100vw;
  }
}
.hero-img {
  @media (max-width: 1199px) {
    img {
      width: 100%;
      height: 100%;
      object-fit: contain; ///
      object-position: center;
    }
  }
}


