.section_ids {
  background-color: white;
  display: grid;
  grid-template-columns: auto 1324px auto;
  height: 777px;
  // margin-bottom: 70px;

  .color_blue {
    background-color: $colorBlueLight;
    height: 516px;
  }

  .color_red {
    background-color: $colorRed;
    height: 423px;
    margin-top: 355px;
  }

  // container -
  .container_message {
    display: grid;
    grid-template-columns: max-content 1fr;
    // height: 560px;
    font-family: $font-mercury;

    // container ---  1
    .content_voldemord {
      grid-template-rows: 280px;
      display: grid;

      .box_green {
        background-color: $colorGreen;
        height: 263px;
        width: 444px;
        margin-top: 235px;
        padding: 41px 65px 59px 65px;
        z-index: 2;
        // font
        color: $colorWhite;
        align-items: center;
        object-fit: cover;

        .title_lord {
          margin-bottom: 18px;
        }

        .paragraf_lord {
          margin-bottom: 11px;
        }

        .gmail_lord {
          padding-bottom: 59px;
        }
      }

      .container_img_moon {
        object-fit: contain;

        img {
          width: 444px;
          height: 624.59px;
          position: absolute;
          object-fit: none;
        }
      }
    }

    // container -- 2
    .content_ids_message {
      height: 659px;

      // z-index: 2;
      background-color: $colorAliceBlue;

      padding-top: 100px;
      padding-left: 115px;
      padding-right: 115px;
      margin-top: 119px;
      // margin-bottom: 125px;

      .title_message {
        padding-bottom: 20px;
      }
      .text_pink {
        color: $colorPink;
        padding-bottom: 30px;
        line-height: 33px;
      }
      .message_paragraf {
        padding-bottom: 93px;
        line-height: 27px;
      }
    }
  }
}
