.section-message {
  position: relative;
  margin-bottom: 100px;

  .container {
    @media (min-width: 768px) {
      grid-template-columns: max-content 1fr;

      &::before,
      &::after {
        content: "";
        position: absolute;
        z-index: -1;
        width: calc(50% - 307px);
      }

      &::before {
        top: 0;
        left: 0;
        height: calc(100% - 356px);
        background-color: $colorBlue;

        @media (min-width: 1120px) {
          height: calc(100% - 265px);
        }
      }

      &::after {
        bottom: 0;
        right: 0;
        height: calc(100% - 460px);
        background-color: $colorRed;

        @media (min-width: 1120px) {
          height: calc(100% - 423px);
        }
      }
    }
  }
}

.message-contact {
  background-color: $colorGreen;
  color: $colorWhite;
  font-family: $font-family-base;

  @media (min-width: 768px) {
    width: 315px;
  }

  @media (min-width: 1120px) {
    width: 444px;
  }

  a {
    color: $colorWhite;
  }
}

.message-contact-info {
  padding: 40px 25px;

  h4 {
    margin-bottom: 18px;
  }
  p {
    margin-bottom: 11px;
  }

  @media (min-width: 1120px) {
    padding: 41px 65px 59px;
  }
}

.message-img {
  display: grid;

  img {
    width: 100%;
    object-fit: cover;
    object-position: top;
  }
}

.message-description {
  background-color: $colorAliceBlue;
  padding: 40px 25px;
  font-family: $font-family-base;

  @media (min-width: 768px) {
    margin-top: 120px;
  }

  @media (min-width: 1120px) {
    padding: 120px 115px 93px;
  }

  h2 {
    margin-bottom: 20px;
  }
}

.message-quote {
  color: $colorPink;
  margin-bottom: 30px;
}
