.section-message {
  display: grid;
  position: relative;
  margin-bottom: 98px; // 120px

  .container {
    display: grid;
    grid-template-columns: max-content 1fr;
    justify-content: end;
    margin: 0 auto;
  }

  // &::before,
  // &::after {
  //   content: "";
  //   position: absolute;
  //   z-index: -1;
  // }

  &::before {
    background-color: $colorBlue;
    content: "";
    position: absolute;
    width: calc(285px + (445) * ((100vw - 1200px) / 1360));
    height: 516px;
    z-index: -1;
  }

  &::after {
    background-color: $colorRed;
    content: "";
    position: absolute;
    width: calc(181px + (440) * ((100vw - 1200px) / 1360));
    right: 0;
    align-self: flex-end;
    height: 423px;
    z-index: -1;
  }

  .message-contact {
    position: relative;
    display: grid;
    align-content: baseline;
    width: 100%;
    height: 100%;
    min-height: 777px;
    max-width: 445px;
    color: $colorWhite;
    font-family: $font-family-base;

    &::after {
      position: absolute;
      content: "";
      background-color: $colorGreen;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
    .message-image {
      // height: 515px;
      min-height: 1rem;

      img.fade {
        opacity: 1;
      }
      
      img.lazy {
        opacity: 0;
        transition: opacity 1s;
      }
      img {
        width: 100%;
        height: 516px;
        display: block;
        object-fit: cover;
        object-position: top;
      }
    }
  }

  .message-contact-info {
    align-self: stretch;
    padding: 60px 65px;
    background-color: $colorGreen;

    p {
      font-weight: $font-weight-normal;
      padding-top: 18px; //
    }
    a {
      padding-top: 11px; //
      color: $colorWhite;
    }

    h4 {
      font-weight: $font-weight-normal;
    }
  }

  .message-description {
    position: relative;
    display: grid;
    margin-top: 120px;
    padding: 120px 115px;
    align-content: flex-end;
    align-self: end;
    background-color: $colorAliceBlue;

    h2 {
      margin-bottom: 20px;
      $font-weight-normal: 400;
    }

    h5 {
      margin-top: 20px; //
      margin-bottom: 30px;
      color: $colorPink;
    }
  }
}
