.section-podcasts {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;

  @media (max-width: 1199px) {
    margin-bottom: 40px;
  }

  @media (max-width: 767px) {
    margin: 50px 0 50px 0;
    flex-direction: column;
  }

  .container {
    grid-template-columns: max-content max-content;
    column-gap: 281px;

    @media (max-width: 1199px) {
      column-gap: 79px;
    }

    @media (max-width: 768px) {
      grid-template-columns: max-content;
    }
  }

  .podcasts-content {
    max-width: 640px;
    font-size: 22px;
    line-height: 33px;
    font-weight: $font-family-base;

    @media (max-width: 1199px) {
      max-width: 399px;
      font-size: 18px;
      line-height: 27px;
      font-style: italic;
    }

    @media (max-width: 768px) {
      margin-bottom: 40px;
    }
  }

  .btn-secondary {
    position: relative;
    text-align: center;
    max-height: 48px;
    max-width: 180px;
    padding: 12px 24px;
    // font style
    font-family: $font-ideal-sans;
    font-size: 16px;
    line-height: 1.5;
    font-weight: $font-weight-medium;
    color: $colorWhite;
    text-transform: uppercase;
    transition: background-color 0.2s ease-out;

    @media (max-width: 1199px) {
      max-width: 161px;
      font-size: 14px;
    }

    @media (max-width: 768px) {
      max-width: 164px;
      font-size: 14px;
      line-height: 21px;
    }

    &.btn-secondary {
      background-color: $colorPink;

      @media (hover: hover) {
        &:hover {
          background-color: $colorBlue-100;
        }
      }

      &:active {
        background-color: $colorBlue-100;
      }
    }

    @media (max-width: 767px) {
      padding: 14px 24px;
      font-size: 14px;
    }
  }
}
