.section-podcasts {
  display: flex;
  justify-content: center;
  margin-bottom: 120px;

  @media (max-width: 1199px) {
    margin-bottom: 43px;
  }

  @media (max-width: 767px) {
    margin-bottom: 50px;
    flex-direction: column;
  }

  .container {
    // display: grid;
    // grid-template-columns: 701px 400px;
    // justify-content: center;
    // align-items: center;
    // padding-top: 80px;
    // padding-bottom: 80px;
    .podcasts {
      position: relative;
      display: flex;
      justify-content: space-around;
      align-items: center;
      min-width: 50px;
      height: 50px;
      margin: 8px 50px 0 0;
      padding: 0;
      border: 0;
    }

    .podcasts-description {
      max-width: 640px;
      line-height: 33px;
      font-size: 22px;
      font-weight: normal;
      font-style: normal;
      font-weight: $font-family-base;
    }
  }

  .btn-secondary {
    position: relative;
    padding: 12px 24px;
    font-family: $font-ideal-sans;
    font-size: 16px;
    font-weight: $font-weight-medium;
    line-height: 1.5;
    color: $colorWhite;
    text-transform: uppercase;
    text-align: center;
    transition: background-color 0.2s ease-out;

    &.btn-secondary {
      background-color: $colorPink;

      @media (hover: hover) {
        &:hover {
          background-color: $colorBlue-100;
        }
      }

      &:active {
        background-color: $colorBlue-100;
      }
    }

    @media (max-width: 767px) {
      padding: 14px 24px;
      font-size: 14px;
    }
  }
}
