.podcasts_section {
  height: 215px;
  justify-items: center;

  .container_podcasts {
    display: grid;
    grid-template-columns: 701px 400px;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;

    .podcasts_text {
      font-style: normal;
      font-weight: normal;
    }

    .podcasts_button {
      background-color: $colorButtonPink;
      color: $colorTextWhite;
      justify-self: end;
      width: 180px;
      height: 48px;
      padding: 14px 24px;
    }
  }
}


