.section-space {
  position: relative;
  margin-top: 120px;
  margin-bottom: 100px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 60%;
    background-color: $colorGrey;
    z-index: -1;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
  }

  .space-content {
    padding: 100px 0 100px 0;
    align-self: center;

    h2 {
      font-family: $font-family-base;
      font-style: normal;
      font-weight: normal;
      margin-bottom: 20px;
    }

    p {
      font-family: $font-family-base;
      font-weight: normal;
      padding-bottom: 20px;
      max-width: 460px;
    }

    a {
      color: $colorPink;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: normal;
    }

    img {
      padding-left: 22px;
    }
  }

  .space-slider {
    padding: 100px 0 100px 0;
    position: relative;
    align-self: center;
    justify-self: center;

    &::before {
      content: "";
      position: absolute;
      width: calc(50%);
      top: 0;
      height: 100%;
      background-color: $colorGrey;
      z-index: -1;
    }

    .circle-outside {
      justify-self: center;
      border: solid 2px $colorPink;
      background: transparent;
      border-radius: 50%;
      width: 480px;
      height: 480px;
      animation: arc 10s infinite linear;

      &::after {
        content: "";
        position: absolute;
        top: 160px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: solid 5px $colorPink;
        background-color: $colorWhite;
      }
    }

    @keyframes arc {
      0% {
        transform: translate(0px) rotate(0deg);
      }

      100% {
        transform: translate(0px) rotate(360deg);
      }
    }

    .space-wrapper {
      position: absolute;
      top: 30%;
      right: 0%;
      bottom: 0%;
      left: 25%;
      //
      width: 250px;
      height: 250px;
      border-radius: 50%;
      background-color: $colorWhite;
      border: solid 1px $colorPink;

      .slide-icon {
        position: absolute;
        top: 30%;
        left: 30%;
      }
    }
  }
}
