.section-years {
  background-color: $colorBackgroundBlueNormal;
  height: 1280px;
  //  font-style
  font-family: "Ideal Sans", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-display: swap;

  .container-years {
    color: $colorTextWhite;
    display: grid;
    grid-template-rows: 395px 55px 58px;
    grid-template-columns: 1324px;
    justify-content: center;
    padding-top: 120px;
    padding-bottom: 120px;

    .box_content_up {
      display: grid;
      grid-template-columns: 440px auto;

      .title_content_up {
        padding-left: 90px;
        font-style: normal;
        font-weight: normal;
      }

      .description_content_up {
        padding-left: 225px;
        padding-right: 100px;
        font-style: normal;
        font-weight: normal;

        h5 {
          padding-bottom: 50px;
          font-style: italic;
          font-weight: normal;
        }
      }
    }

    .box_content_down {
      display: grid;
      grid-template-columns: 450px auto;
      grid-template-rows: 590px;

      .text_content_down {
        padding-top: 100px;
        padding-left: 100px;

        .img_icon_pink {
        }

        .title_item_1 {
          font-style: italic;
          font-weight: normal;
          padding-top: 35px;
          padding-bottom: 17px;
        }
        .title_item_2 {
          font-style: italic;
          font-weight: normal;
          padding-bottom: 17px;
        }
        .title_item_3 {
          font-style: normal;
          font-weight: normal;
        }
        .title_item_4 {
          font-style: normal;
          font-weight: normal;
          padding-bottom: 35px;
        }

        .link_readMore {
          font-style: normal;
          font-weight: normal;
          letter-spacing: 1px;
          text-transform: uppercase;
          color: #ffffff;

          img {
            padding-left: 15px;
          }
        }
      }
      .down_images {
        padding-top: 60px;
        // display: grid;
        justify-items: center;

        .img_galaxy {
          z-index: 2;
          position: relative;
          // left: 400x;
          right: -250px;
        }

        .img_cosmonauts {
          z-index: 3;
          position: relative;
          left: 180px;
          bottom: 465px;
        }

        .img_desktop {
          z-index: 4;
          position: relative;
          left: 180px;
          bottom: 876px;
        }
      }
    }
  }
}
