.section-years {
  background-color: $colorBackgroundBlueNormal;
  height: 1378px;

  .container-years {
    color: $colorTextWhite;
    display: grid;
    grid-template-rows: 395px 55px 525px;
    grid-template-columns: 1324px;
    justify-content: center;
    padding-top: 120px;
    padding-bottom: 120px;

    .box_content_up {
      display: grid;
      grid-template-columns: 440px auto;

      .title_content_up {
        padding-left: 90px;
        font-style: normal;
        font-weight: normal;
      }

      .description_content_up {
        padding-left: 225px;
        padding-right: 100px;
        font-style: normal;
        font-weight: normal;

        h5 {
          padding-bottom: 50px;
          font-style: italic;
          font-weight: normal;
        }
      }
    }

    .box_content_down {
      display: grid;
      grid-template-columns: 450px auto;

      .text_content_down {
        padding-top: 100px;

        .img_icon_pink {
        }
      }
      .down_images {
        padding-top: 60px;
        display: grid;
        justify-items: center;

        .img_galaxy {
          z-index: 2;
          position: relative;
          background-size: fit;
          left: 100px;
        }

        .img_cosmonauts {
          z-index: 3;
          position: relative;
          left: 85px;
          bottom: 465px;
        }

        .img_desktop {
          z-index: 4;
          position: relative;
          left: 85px;
          bottom: 876px;
        }
      }
    }
  }
}
