.button-scroll {
  display: grid;
  // display: none;
  cursor: pointer;
  position: fixed;
  align-content: center;
  row-gap: 8px;
  right: 3px;
  bottom: 30px;
  width: 80px;
  height: 80px;
  background-color: white;
  border: 1.5px solid #d8d8d8;
  border-radius: 50%;
  z-index: 99;

  svg {
    justify-self: center;
  }

  a {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.8px;
    color: $colorBlack;
    align-self: end;
  }

  @media (max-width: 1199px) {
    display: none;
  }
}

.button-scroll:hover {
  border-color: $colorPink;
  background-color: $colorPink;
}
