.content {
  margin: 100px 0 100px 0;

  @media (max-width: 1199px) {
    padding: 50px 0 50px 0;
  }

  h2 {
    margin-bottom: 20px;
    font-weight: normal;
  }

  p {
    font-size: 22px;
    line-height: 33px;
    font-style: italic;

    @media (max-width: 768px) {
      font-size: 18px;
      line-height: 27px;
    }
  }
}
