.footer {
  padding: 120px 0;
  background-color: $colorDarkBlue;

  @media (max-width: 1199px) {
    padding: 70px 36px;
  }

  @media (max-width: 768px) {
    padding: 50px 0 46px 0;
  }

  .footer-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 126px;
    color: $colorWhite;

    @media (max-width: 1199px) {
      grid-template-columns: 1fr;
      row-gap: 54px;
    }

    @media (max-width: 768px) {
      row-gap: 40px;
    }

    h5 {
      margin-bottom: 30px;

      @media (max-width: 1199px) {
        margin-bottom: 20px;
      }
    }

    p {
      font-size: 18px;
      line-height: 27px;
      letter-spacing: 1.13px;
    }
  }

  .about-left {
    max-width: 635px;

    @media (max-width: 1199px) {
      max-width: 100%;
      grid-row: 2;
    }

    span {
      display: block;
      margin-top: 94px;
      font-size: 18px;
      line-height: 27px;
      letter-spacing: 1.125px;

      @media (max-width: 1199px) {
        margin-top: 40px;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 1.13px;
      }
    }
  }

  .about-right {
    max-width: 350px;

    @media (max-width: 1199px) {
      max-width: 100%;
    }

    a {
      margin-top: 200px;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: $colorWhite;

      @media (max-width: 1199px) {
        margin-top: 40px;
        font-size: 14px;
        line-height: 21px;
      }
    }
  }
}
