.section-info {
  position: relative;
  margin: 100px 0 100px 0;

  @media (min-width: 1199px) {
    &::after {
      content: "";
      position: absolute;
      bottom: -130px;
      width: 100%;
      height: 100%;
      background: url("/svg/info-backgraund.svg");
      z-index: -1;
    }
  }
  
  .container-text {
    display: grid;
    width: 100%;
    max-width: 980px;
    padding: 0 $container-gap;
    margin: 0 auto;
    background-color: $springMorn ;
  
    @media (max-width: 1199px) {
      max-width: 696px;
      padding: 0 $container-gap-tablet;
    }
  
    @media (max-width: 767px) {
      width: 100%;
      padding: 0 $container-gap;
    }
  }
}


.info-content {
  margin: 100px 0 102px 0;
  justify-self: center;
  max-width: 790px;

  @media (max-width: 1199px) {
    margin: 70px 0 72px 0;
  }
}

p {
  font-size: 22px;
  line-height: 33px;
}

.title {
  margin-bottom: 10px;
  font-weight: normal;
}

.hashtag {
  margin-bottom: 40px;
}

.link-ids {
  display: block;
  margin-bottom: 40px;
  color: $pacificDepths;
}

.social-icon {
  display: grid;
  grid-template-columns: repeat(5, max-content);
  margin-top: 21px;
  column-gap: 40px;
}
