.section-landscape {
  img {
    width: 100%;
  }

  .paragraph {
    display: grid;
    width: 100%;
    max-width: 1344px;
    padding: 0 $container-gap;
    margin: 0 auto;

    @media (max-width: 1199px) {
      max-width: 768px;
      padding: 0 $container-gap-tablet;
    }
  }

  em {
    font-size: 18px;
    line-height: 27px;
    text-align: start;
    color: $dull;
    margin: 30px 0 100px 0;
  }
}

