.section-quote {
  margin: 100px 0 100px 0;
}

.box-quote {
  display: flex;
  position: relative;
  justify-self: center;
  border-bottom: 1px solid $colorPink;
  @include fluidValue(width, 980, 696, 1680, 768);
  @include fluidValue(height, 290, 253, 1680, 768);
  @include fluidValue(width, 696, 296, 768, 320);
  @include fluidValue(height, 273, 300, 768, 320);
}

.quote-content {
  position: absolute;
  align-self: center;
  text-align: center;
  margin: 0 95px 0 95px;

  @media (max-width: 1199px) {
    margin: 0px 60px 0px 60px;
  }

  @media (max-width: 768px) {
    margin: 0;
  }

  h4 {
    font-style: italic;
    font-weight: $font-weight-normal;
    margin-bottom: 10px;

    @media (max-width: 1199px) {
      font-size: 18px;
      line-height: 27px;
    }
  }

  p {
    font-weight: $font-weight-normal;
    font-size: 18px;
    line-height: 27px;

    @media (max-width: 1199px) {
      font-size: 16px;
      line-height: 24px;
    }
  }
}
