.section-voluptates {
  position: relative;
  margin: 100px 0 60px 0;

  @media (max-width: 1199px) {
    margin: 50px 0 50px 0;
  }

  h2 {
    font-weight: normal;
    margin-bottom: 20px;
  }

  p {
    font-style: italic;
    font-size: 22px;
    line-height: 33px;

    @media (max-width: 1199px) {
      font-size: 18px;
      line-height: 27px;
    }
  }

  h3 {
    font-family: $font-mercury;
    font-style: italic;
    margin-top: 20px;
    color: $colorTurquoise;
  }
}
