<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width,
          user-scalable=no,
          initial-scale=1.0,
          maximum-scale=1.0,
          minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta property="og:title" content="Home Page" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="description" content="Home Page Description" />
    <meta name="keywords" content="Home Page Keywords" />
    <title>Home Page</title>
    <!-- <link rel="shortcut icon" href="img/favicon/favicon.ico" /> -->
    <link rel="stylesheet" href="css/app.css" />
  </head>
  <body>
    <header class="main-header">
      <a>
        <img src="../../img/Screen Shot 2022-01-18 at 11.17.29 AM.png" alt="idn-logo">
      </a>
      <nav class="header-nav">
        <a href="" id="nav-about">ABOUT US</a>
        <a href="" id="nav-kmj">Knowledge Management Journey</a>
        <a href="" id="nav-kS">Knowledge Solutions</a>
      </nav>
      <a href="" target="_blank" class="header-button" type="button">DOWNLOAD PDF</a>
    </header>
    <!-- .main-header -->
    <main class="main-wrapper">
      <div class="main-description">
        <h1 id="h1-text">Welcome to the insert some lorem copy here</h1>
        <p id="p-red">Vision, Learning, Collaboration.</p>
        <p id="p-black"> Lorem ipsum dolor sit amet, consectetur <br/> adipiscing elit.</p>
      </div>
      <img src="../../img/4000_4_08 (1).png" alt="" id="img-astronaut">
    </main>
    <!-- .main-wrapper -->
    <footer class="main-footer">
      <div class="text-left">
          <h5 class="first-column">About IDB Knowledge Advisory Services Center</h5>
              <p class="first-column">Sed aliquet eleifend dapibus. Aliquam erat volutpat. Aliquam erat volutpat. Curabitur ante lorem, vehicula ut lacinia cursus, posuere nec turpis. Praesent bibendum turpis ut leo porttitor, sit amet tempor turpis convallis. Nullam nec pharetra turpis, sed elementum arcu. Nullam venenatis sit amet justo id euismod. Nulla dictum ligula commodo venenatis luctus. Duis at enim suscipit, luctus nunc eu, varius lacus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris eu lacus congue, lacinia leo non, facilisis tortor. Nam ultricies enim at dolor porta, at malesuada lorem luctus. Maecenas id porttitor magna. Suspendisse aliquet semper nulla, in aliquam elit auctor quis. Vestibulum vel turpis nibh. 
                Sed aliquet eleifend dapibus. Aliquam erat volutpat. Aliquam erat volutpat. Curabitur ante lorem, vehicula ut lacinia cursus, posuere nec turpis. Praesent bibendum turpis ut leo porttitor, sit amet tempor turpis convallis. Nullam nec pharetra turpis, sed elementum arcu. Nullam venenatis sit amet justo id euismod. Nulla dictum ligula commodo venenatis luctus. Duis at enim suscipit, luctus nunc eu, varius lacus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris eu lacus congue, lacinia leo non, facilisis tortor. Nam ultricies enim at dolor porta, at malesuada lorem luctus. Maecenas id porttitor magna. Suspendisse aliquet semper nulla, in aliquam elit auctor quis. Vestibulum vel turpis nibh. 
                Sed aliquet eleifend dapibus. Aliquam erat volutpat. Aliquam erat volutpat. Curabitur ante lorem, vehicula ut lacinia cursus, posuere nec turpis. Praesent bibendum turpis ut leo porttitor, sit amet tempor turpis convallis. Nullam nec pharetra turpis, sed elementum arcu. Nullam venenatis sit amet justo id euismod. Nulla dictum ligula commodo venenatis luctus. Duis at enim suscipit, luctus nunc eu, varius lacus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris eu lacus congue, lacinia leo non, facilisis tortor. Nam ultricies enim at dolor porta, at malesuada lorem luctus. Maecenas id porttitor magna. Suspendisse aliquet semper nulla, in aliquam elit auctor quis. Vestibulum vel turpis nibh. 
                </p>       
        <a href="" class="first-column" id="link-contact-footer">Contact Us <img src="../../img/Group.png" alt=""></a>
      </div>
      <div class="text-right">
        <h5 class="second-column">About  IDB</h5>
        <p class="second-column">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lectus nulla, mollis ac facilisis id, auctor sed justo. Sed ut consectetur massa. Fusce tristique semper justo, ac porta tortor consectetur a. Ut ullamcorper vel eros non efficitur. Fusce eu tortor ipsum. Suspendisse varius interdum dapibus. Suspendisse potenti.  </p>
        <p class="second-column">© 2021 Insomniac Design Study</p>
        <p class="second-column">Website created by <a href="" target="_blank">Insomniac Design, Inc.</a></p>
      </div>
      
    </footer>
    <!-- .main-footer -->
    <script src="js/app.js"></script>
  </body>
</html>
