<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width,
          user-scalable=no,
          initial-scale=1.0,
          maximum-scale=1.0,
          minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta property="og:title" content="Home Page" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="description" content="Home Page Description" />
    <meta name="keywords" content="Home Page Keywords" />
    <title>Home Page</title>
    <!-- <link rel="shortcut icon" href="img/favicon/favicon.ico" /> -->
    <link rel="stylesheet" href="css/app.css" />
  </head>
  <body>
    <header class="header-main">
      <div class="header-container">
        <a href="/" class="header-logo">
          <img src="img/header-logo.png" alt="IDS logo" />
        </a>
        <!-- .header-log -->
        <button
          class="burger-btn"
          type="button"
          title="Burger button"
          aria-labelledby="Open menu"
        >
          <svg
            class="icon-burger"
            version="1.1"
            height="100"
            width="100"
            viewBox="0 0 100 100"
          >
            <path class="line line1" d="M 30,65 H 70" />
            <path
              class="line line2"
              d="M 70,50 H 30 C 30,50 18.644068,50.320751 18.644068,36.016949 C 18.644068,21.712696 24.988973,6.5812347 38.79661,11.016949 C 52.604247,15.452663 46.423729,62.711864 46.423729,62.711864 L 50.423729,49.152542 L 50.423729,16.101695"
            />
            <path
              class="line line3"
              d="M 30,35 H 70 C 70,35 80.084746,36.737688 80.084746,25.423729 C 80.084746,19.599612 75.882239,9.3123528 64.711864,13.559322 C 53.541489,17.806291 54.423729,62.711864 54.423729,62.711864 L 50.423729,49.152542 V 16.101695"
            />
          </svg>
          <svg
            class="icon-cross"
            version="1.1"
            height="100"
            width="100"
            viewBox="0 0 100 100"
          >
            <path class="line" d="M 34,32 L 66,68" />
            <path class="line" d="M 66,32 L 34,68" />
          </svg>
        </button>
        <!-- .burger-btn -->
        <div class="mobile-box">
          <nav class="header-nav">
            <a class="active" href="#">About us</a>
            <a href="#">Knowledge Management Journey</a>
            <a href="#">Knowledge Solutions</a>
          </nav>
          <!-- .header-nav -->
          <a
            class="btn primary"
            href="pdf/document.pdf"
            title="Download pdf file"
            target="_blank"
            rel="noopener noreferrer"
            aria-labelledby="Download pdf file"
            download="pdf.pdf"
          >
            <span>DOWNLOAD PDF</span>
            <span>DOWNLOAD Full Publication PDF</span>
          </a>
        </div>
        <!-- .mobile-box -->
      </div>
      <!-- .header-container-->
    </header>
    <!-- .header-main -->
    <section class="section-hero">
      <div class="container">
        <div class="hero-content">
          <h1>Welcome to the insert some lorem copy here</h1>
          <h4>Vision, Learning, Collaboration.</h4>
          <div class="hero-description">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
        <div class="hero-img">
          <img src="img/hero-image.png" alt="Hero image" />
        </div>
      </div>
      <!-- .container-hero -->
    </section>
    <!-- .section-hero -->
    <section class="section-about">
      <div class="container">
        <div class="about-content">
          <h6>about</h6>
          <h3>IDS'apos Knowledge Management in Action</h3>
        </div>
        <!-- .about-titles -->
        <div>
          <div class="about-img">
            <img src="/img/space-about.png" alt="About picture" />
          </div>
          <!-- .about-img -->
          <div class="about-description">
            <p>
              Sed metus ligula, auctor eget sagittis eu, elementum vel est. Nam
              in dolor bibendum, mollis felis eget, ullamcorper odio. Praesent
              nunc nisi, rutrum mollis cursus vel, aliquet a nunc. Sed a varius
              sapien. Nulla et massa faucibus, pharetra felis at, aliquam neque.
              Maecenas volutpat malesuada erat eu finibus. Proin in magna id
              massa pharetra rutrum eu nec est. Etiam ultrices tortor sapien,
              placerat ultrices nisl viverra non.
            </p>
          </div>
        </div>
        <!-- .about-description -->
      </div>
    </section>
    <!-- .section-about-->
    <section class="section-message">
      <div class="container">
        <div class="message-contact">
          <div class="message-img">
            <img src="img/asdr.png" alt="cosmonaut sitting on the moon" />
          </div>
          <div class="message-contact-info">
            <h4>Lord Voldemord</h4>
            <p>
              Vice-President for Knowledge Management and Sustainable
              Development Activities
            </p>
            <a href="mailto:lordVoldemort@example.com"
              >lordVoldemort@example.com</a
            >
          </div>
        </div>
        <!-- .message-contact -->
        <div class="message-description">
          <h2>IDS’s Message</h2>
          <p class="message-quote">
            Knowledge management has always been intertwined with the work of
            Insomniac Design Study (IDS).
          </p>
          <p class="">
            Sedaliquet eleifend dapibus. Aliquam erat volutpat. Aliquam erat
            volutpat. Curabitur ante lorem, vehicula ut lacinia cursus, posuere
            nec turpis. Praesent bibendum turpis ut leo porttitor, sit amet
            tempor turpis convallis. Nullam nec pharetra turpis, sed elementum
            arcu. Nullam venenatis sit amet justo id euismod. Nulla dictum
            ligula commodo venenatis luctus. Duis at enim suscipit, luctus nunc
            eu, varius lacus. Pellentesque habitant morbi tristique senectus et
            netus et malesuada fames ac turpis egestas. Mauris eu lacus congue,
            lacinia leo non, facilisis tortor. Nam ultricies enim at dolor
            porta, at malesuada lorem luctus.
          </p>
        </div>
        <!-- .message-description -->
      </div>
    </section>
    <!-- .section-message -->
    <section class="section_dropdown">
      <div class="container_dropdown">
        <div class="box_click">
          <button class="read-more-btn">Read more</button>
        </div>
        <div class="box_description_dropdown">
          <h5 class="text">
            Duis at enim suscipit, luctus nunc eu, varius lacus. Pellentesque
            habitant morbi tristique senectus et netus et malesuada fames ac
            turpis egestas. Mauris eu lacus congue <span class="dots">...</span>
            <span class="read-more-text"
              >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id facilis accusamus repudiandae harum aspernatur quam nesciunt, numquam vel doloremque, nobis impedit, vero rem eos atque officiis maiores deserunt quo esse! Ipsam nihil mollitia earum repellendus dolor quae sed excepturi aut voluptate illum perferendis adipisci sit ipsa, quidem doloremque quas nam? Labore voluptas nostrum voluptates quia optio autem obcaecati consequatur repudiandae!</span
            >
          </h5>
        </div>
      </div>
    </section>
    <!-- .section_dropdown -->
    <!-- .main-header -->
    <script src="js/app.js"></script>
  </body>
</html>
