<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width,
          user-scalable=no,
          initial-scale=1.0,
          maximum-scale=1.0,
          minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta property="og:title" content="Knowledge Solutions" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="description" content="Knowledge Solutions Description" />
    <meta name="keywords" content="Knowledge Solutions Keywords" />
    <title>Knowledge Solutions</title>
    <!-- <link rel="shortcut icon" href="img/favicon/favicon.ico" /> -->
    <link rel="stylesheet" href="css/app.css" />
  </head>
  <body>
    <main>
      <header class="header-main">
        <div class="header-container">
          <a href="/" class="header-logo">
            <img src="../../img/logo-hero.png" alt="IDS logo" />
          </a>
          <!-- .header-log -->
          <button
            class="burger-btn"
            type="button"
            title="Burger button"
            aria-labelledby="Open menu"
          >
            <svg
              class="icon-burger"
              version="1.1"
              height="100"
              width="100"
              viewBox="0 0 100 100"
            >
              <path class="line line1" d="M 30,65 H 70" />
              <path
                class="line line2"
                d="M 70,50 H 30 C 30,50 18.644068,50.320751 18.644068,36.016949 C 18.644068,21.712696 24.988973,6.5812347 38.79661,11.016949 C 52.604247,15.452663 46.423729,62.711864 46.423729,62.711864 L 50.423729,49.152542 L 50.423729,16.101695"
              />
              <path
                class="line line3"
                d="M 30,35 H 70 C 70,35 80.084746,36.737688 80.084746,25.423729 C 80.084746,19.599612 75.882239,9.3123528 64.711864,13.559322 C 53.541489,17.806291 54.423729,62.711864 54.423729,62.711864 L 50.423729,49.152542 V 16.101695"
              />
            </svg>
            <svg
              class="icon-cross"
              version="1.1"
              height="100"
              width="100"
              viewBox="0 0 100 100"
            >
              <path class="line" d="M 34,32 L 66,68" />
              <path class="line" d="M 66,32 L 34,68" />
            </svg>
          </button>
          <!-- .burger-btn -->
          <div class="mobile-box">
            <nav class="header-nav">
              <a class="active" href="#">About us</a>
              <a href="#">Knowledge Management Journey</a>
              <a href="">Knowledge Solutions</a>
            </nav>
            <!-- .header-nav -->
            <a
              class="btn primary"
              href="pdf/Codecademy.pdf"
              title="Download pdf file"
              target="_blank"
              rel="noopener noreferrer"
              aria-labelledby="Download pdf file"
              download="pdf.pdf"
            >
              <span>DOWNLOAD PDF</span>
              <span>DOWNLOAD Full Publication PDF</span>
            </a>
          </div>
          <!-- .mobile-box -->
        </div>
        <!-- .header-container-->
      </header>
      <!-- .header-main -->
      <!-- <section class="section-hero"></section> -->
      <!-- .section-hero -->
      <section class="section-project">
        <div class="container">
          <a class="link-back" href="../../html/views/index.html">
            <svg
              width="7"
              height="12"
              viewBox="0 0 7 12"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M6.15596 11.0496L1.00823 6.29119"
                stroke="black"
                stroke-width="1.5"
                stroke-linecap="round"
              />
              <path
                d="M6.15589 1.53235L1.00815 6.29076"
                stroke="black"
                stroke-width="1.5"
                stroke-linecap="round"
              /></svg
            >back</a
          >
          <div class="second-info">
            <div class="logo-project">
              <span class="circle"></span>
              <img
                class="logo-img-project"
                src="../../svg/space-1.svg"
                alt="space"
              />
            </div>
            <div class="title">
              <p>Category name</p>
              <h3>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam!
              </h3>
            </div>
          </div>
          <div class="form">
            <div class="box">
              <div class="name">
                <p>Project Name:</p>
              </div>
              <div class="info">
                <p>Lorem ipsum dolor sit amet consectetur.</p>
              </div>
            </div>
            <div class="box">
              <div class="name">
                <p>Region/Country:</p>
              </div>
              <div class="info">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing.</p>
              </div>
            </div>
            <div class="box">
              <div class="name">
                <p>Sector and Themes:</p>
              </div>
              <div class="info">
                <p>Lorem ipsum dolor sit.</p>
              </div>
            </div>
            <div class="box">
              <div class="name">
                <p>Year:</p>
              </div>
              <div class="info">
                <p>2019</p>
              </div>
            </div>
            <div class="box">
              <div class="name">
                <p>Project Leaders:</p>
              </div>
              <div class="info">
                <p>John Green</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- .section-project-->
      <section class="section-landscape">
        <div>
          <picture>
            <source
              media="(min-width:1199px)"
              srcset="../../img/landscape.jpg"
            />
            <source
              media="(min-width:768px)"
              srcset="../../img/landscape-tablet.jpg"
            />
            <img src="../../img/landscape-mobil.jpg" alt="landscape hills" />
          </picture>
          <div class="img-description">
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad,
              ipsum eum accusamus nulla deserunt dignissimos perferendis.
            </p>
          </div>
        </div>
      </section>
      <!-- .section-landscape-->
      <section class="section-quotation">
        <div class="container">
          <div class="box-quotation">
            <!-- <div class="lines">
                <!-- <svg
                  width="982"
                  height="274"
                  viewBox="0 0 982 274"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path d="M184.695 1H1V273H981V22.529H317" stroke="#E76ECE" />
                </svg> -->

            <div class="quotation-mark">
              <svg
                width="70"
                height="51"
                viewBox="0 0 70 51"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  id="Fill 4"
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M0 38.165C0 45.9332 4.66712 51 11.6668 51C18.3331 51 23.0002 46.2711 24.0007 39.5167C20.3341 37.4892 16.5007 35.6326 16.5007 30.0589C16.5007 23.4735 20.6676 15.8743 34 6.58547L30.5001 0C11.3333 12.497 0 25.668 0 38.165ZM36 38.165C36 45.9332 40.6671 51 47.6668 51C54.3331 51 59.0002 46.2711 60.0007 39.5167C56.3341 37.4892 52.5007 35.6326 52.5007 30.0589C52.5007 23.4735 56.6657 15.8743 70 6.58547L66.5001 0C47.3333 12.497 36 25.668 36 38.165Z"
                  fill="#E76ECE"
                />
              </svg>
            </div>
            <div class="quotation-content">
              <h4>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit
                recusandae eos eius ullam perspiciatis, at minus sunt?
                Laboriosam mollitia.
              </h4>
              <p>
                -Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse
                modi possimus aliquid nam cupiditate.
              </p>
            </div>
          </div>
        </div>
      </section>
      <!-- .section-quotation-->
      <footer class="footer">
        <div class="container">
          <div class="about-left">
            <h5>About IDS Ducimus minima dolore ab quos</h5>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Accusamus excepturi fugit, iusto illum quis, corporis corrupti
              necessitatibus magnam nisi deserunt ipsum tenetur voluptatibus
              eaque dolores. Natus consequuntur recusandae illo. Ducimus minima
              dolore ab quos iusto est sed, quasi non beatae dolores omnis
              labore qui temporibus laborum voluptas praesentium architecto
              ipsum officia voluptate ullam dicta eveniet quia. Quae magnam
              quibusdam quidem accusantium qui excepturi ducimus amet, animi
              inventore dolores illum quisquam labore tenetur blanditiis facere
              dolorum? Animi, sapiente. Sit autem quo hic numquam rerum dolorum
              laboriosam impedit cupiditate ullam atque, magnam minus nulla vero
              recusandae obcaecati omnis, aut eveniet maiores iure officiis!
              Quis asperiores facere laborum? Voluptas fuga atque in,
              accusantium nulla site.
            </p>
            <span>© 2021 Ducimus minima dolore</span>
          </div>
          <div class="about-right">
            <h5>About IDB</h5>
            <p>
              IDS is, sapiente. Sit autem quo hic numquam rerum dolorum
              laboriosam impedit cupiditate ullam atque, magnam minus nulla vero
              recusandae obcaecati omnis, aut eveniet maiores iure officiis!
              Quis asperiores facere laborum? Voluptas fuga atque in,
              accusantium nulla sit possimus pariatur ullam vero ratione porro
              aliquam veniam sed quisquam? Accusamus excepturi fugit, iusto.
            </p>
            <div class="link-insomniac">
              <a
                href="#"
                target="_blank"
                class="arrow-link white"
                title="Link contact"
                >Contact Us
                <svg viewBox="0 0 33 13">
                  <path
                    d="M32.6,6.5l-8,6.3C24.4,12.9,24.2,13,24,13c-0.3,0-0.6-0.1-0.8-0.4c-0.3-0.4-0.3-1.1,0.2-1.4l4.7-3.7H1  c-0.6,0-1-0.4-1-1c0-0.6,0.4-1,1-1h27.1l-4.7-3.7c-0.4-0.3-0.5-1-0.2-1.4c0.3-0.4,1-0.5,1.4-0.2L32.6,6.5z"
                  />
                </svg>
              </a>
            </div>
          </div>
        </div>
      </footer>
      <!-- .footer-main -->
    </main>
    <!-- .main-header -->
    <script src="../../js/app.js"></script>
  </body>
</html>
