@font-face {
  font-family: "Ideal Sans";
  src: url("/src/fonts/fonts/IdealSans-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ideal Sans";
  src: url("/src/fonts/fonts/") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Ideal Sans";
  src: url("/src/fonts/font/IdealSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ideal Sans";
  src: url("/src/fonts/font/IdealSans-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Ideal Sans";
  src: url("/src/fonts/font/IdealSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ideal Sans";
  src: url("/src/fonts/font/IdealSans-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Ideal Sans";
  src: url("/src/fonts/font/IdealSans-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
