$colorBlack: #000;
$colorWhite: #fff;
$colorBlue: #1996c3;
$colorPink: #e76ece;
$colorGrey: #f0f0f0;
$colorBlueLight: #1996c3;
$colorBlueNormal: #266299;
$colorBlueDark: #003c82;
$colorRed: #d84e30;
$colorGreen: #8dc63f;
$colorAliceBlue: #eff9fd;
$colorGray: #eff9fd;
$colorGray-100: #f0f0f0;
$colorBlue-100: #023d74;
$colorOrange: #FBB316;
$colorRedButton:#E75228;
$colorGreyButton: #E1E3E8;


/* Typography */
$font-family-base: "Helvetica", Arial, sans-serif;
$font-ideal-sans: "Ideal Sans", $font-family-base;
$font-mercury: "Mercury Text G2", $font-family-base;

$font-size-base: 18px;
$font-size-base-mobile: 16px;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$line-height-base: 27px;
$line-height-base-mobile: 24px;

/* Container */
$container-max-width: 1238px;
$container-gap: 12px;
$container-gap-tablet: 36px;
$container-small-max-width: 1004px;

/* Z-index */
$zindex-sticky: 1020;
$zindex-fixed: 1030;
$zindex-backdrop: 1040;
