$colorTextBlack: rgba(0, 0, 0, 1);
$colorTextWhite: rgba(255, 255, 255, 1);
$colorTextBlue: rgba(0, 105, 165, 1);
$colorTextPink: rgba(227, 69, 194, 1);
$colorButtonPink: #e76ece;
$colorBackgroundWhite: rgba(255, 255, 255, 1);
$colorBackgroundGrey: rgba(240, 240, 240, 1);
$colorBackgroundBlueLight: rgba(25, 150, 195, 1);
$colorBackgroundBlueNormal: rgba(38, 98, 153, 1);
$colorBackgroundBlueDark: rgba(0, 60, 130, 1);
$colorBackgroundRed: rgba(216, 78, 48, 1);
$colorBackgroundGreen: rgba(141, 198, 63, 1);
$colorBackgroundBlueLightLight: rgba(239, 249, 253, 1);

